body {
  width: 1600px;
  height: 2349px;
  background: #e5e5e5;
  font-family: Roboto;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}
ul {
  list-style: none;
}
li {
  font-family: Roboto;
}
header {
  background: #ffffff;
  text-align: center;
}
nav {
  display: flex;
  position: relative;
}
.logo-top {
  margin-top: 24px;
  margin-bottom: 25px;
  margin-left: 215px;
  position: absolute;
  width: 145px;
  height: 31px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.navigation {
  display: flex;
  margin-left: 453px;
  margin-top: 32px;
}
.navigation .nav-link:hover a,
.mail:hover a {
  color: #2196f3;
}
.nav-link {
  margin-right: 50px;
  margin-left: 93px;
}
.nav-link-contacts {
  margin-left: 50px;
}
.nav-link-contacts:hover a,
.nav-link-portfolio:hover a {
  color: #2196f3;
}
.contact-address {
  text-align: left;
}
.contact-mail {
  margin-left: 1078px;
  margin-top: 32px;
}
.contact-tel {
  margin-left: 50px;
  margin-top: 32px;
}
.contact-tel:hover,
.contact-mail:hover {
  color: #2196f3;
}
.main-discription {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 200px;
}
.order-service {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 732px;
  top: 430px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  color: #ffffff;
  background-color: #2196f3;
  margin-top: 30px;
  padding-top: 10px;
  padding-left: 32px;
  padding-right: 32px;
  box-shadow: ivory;
}
.order-service:focus {
  color: rgb(160, 23, 23);
}
.order-service:active {
  background: #739e24;
}
button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
}
main {
  background: #ffffff;
}
.section-hero {
  width: 1600px;
  height: 600px;
  background: #2f303a;
}
.features-section {
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 774px;
  margin-bottom: 94px;
}
.features-title {
  text-align: center;
  visibility: hidden;
}
.features {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  width: 1170px;
  height: 101px;
  margin-left: 185px;
}
.details {
  width: 270px;
  height: 75px;
  top: 800px;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
  margin-left: 30px;
  left: 215px;
  font-family: Roboto;
  letter-spacing: 0.03em;
}
.details-items {
  top: 774px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
  font-family: Roboto;
  letter-spacing: 0.03em;
}
.what-we-do-title {
  text-align: center;
  margin-top: 94px;
}
.what-we-do {
  display: flex;
  text-align: center;
  margin-left: 215px;
  margin-top: 50px;
}
.team-section {
  background: #f5f4fa;
}
.what-we-do-items {
  margin-right: 30px;
}
.team-section {
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;
}
.our-team-title {
  padding-top: 94px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team {
  display: flex;
  margin-left: 215px;
}

.team-members {
  margin-right: 30px;
  padding-top: 50px;
}

.city {
  color: #ffffff;
}
footer {
  text-decoration: none;
  background: #2f303a;
  width: 1600px;
  height: 252px;
}
.footer-content {
  padding-top: 60px;
  padding-left: 215px;
}
.logo-footer {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  margin-left: 40px;
}

.web {
  margin-top: 60px;
  color: #2196f3;
}
.studio {
  color: black;
}
.footer-address {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 20px;
}
.footer-contacts {
}
.city-address {
  margin-top: ;
  margin-bottom: 9px;
}
.footer-tel {
  margin-top: 9px;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2268px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
a {
  text-decoration: none;
  color: #757575;
}
