  body {
      width: 1600px;
      height: 2349px;
      background: #FFFFFF;
  }
  .navigation {
     display: flex;
     text-align: left;
 }
.nav-stud {
    margin-right: 50px;
    margin-left: 50px;
}
.nav-portfolio {
    margin-right: 50px;
}
.mail {
    margin-left: 331px;
    display: flex;
}
.phone {
    margin-left: 50px;
}
.section-hero {
    width: 1600px;
    height: 600px;
    background: #2F303A;
}

.features {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    width: 1170px;
    height: 101px;
}
.details {
    width: 270px;
    height: 75px;
    top: 800px;
    font-size: 14px;
    line-height: 24px;
    color: #757575;
    margin-left: 30px;
}
.details-head {
width: 270px;
height: 16px;
top: 774px;
font-weight: bold;
font-size: 14px;
line-height: 16px;
color: #212121;
}
.display {
    display: flex;   
}
.items {
    margin-right: 30px;
}
.team {
    display: flex;
    background: #F5F4FA;
    width: 1600px;
    height: 648px;
}
.team-members {
    margin-right: 30px;
}

.main-discription {
position: absolute;
width: 696px;
height: 120px;
left: 452px;
top: 280px;
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
margin-top: 200px;
}
.order-service {
position: absolute;
width: 200px;
height: 50px;
left: 732px;
top: 600px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
display: flex;
color: #FFFFFF;
background-color: #2196F3;
margin-top: 30px;
}
.city {
  color: #ffffff;
}
footer {
    background: #2F303A;
    width: 1600px; 
    height: 252px;"
}
.webstudio {
    color: white;
    font-style: normal; 
    font-weight: bold; 
    font-size: 26px;
    line-height: 31px;
    margin-left: 215px;
}
.web {    
    margin-top: 60px;
    color: #2196F3;;
}
.studio {
color: black;
}
.address {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 20px;
  margin-left: 215px;
}
